.pm10 {
    margin:25px;
}

.pm25 {
    margin:10px;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: xx-large;
  }

.cityInput {
      position: absolute;
      top: 50px;
  }